[0;1;32m●[0m streamlit.service - PriceScout Streamlit App
     Loaded: loaded (/etc/systemd/system/streamlit.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Mon 2025-08-18 04:26:59 UTC; 8s ago
   Main PID: 65784 (streamlit)
      Tasks: 6 (limit: 4647)
     Memory: 30.7M
        CPU: 298ms
     CGroup: /system.slice/streamlit.service
             └─65784 /root/PriceScout/venv/bin/python3 /root/PriceScout/venv/bin/streamlit run app/price_scout_app.py --server.port 8501 --server.address 134.199.207.21

Aug 18 04:26:59 Marcus-PriceScout systemd[1]: Started PriceScout Streamlit App.
Aug 18 04:27:00 Marcus-PriceScout streamlit[65784]:   You can now view your Streamlit app in your browser.
Aug 18 04:27:00 Marcus-PriceScout streamlit[65784]:   URL: http://134.199.207.21:8501
